@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="p-4 rounded shadow-sm bg-light">
                <h5 class="display-5 text-primary fw-bold mb-4">
                    🔐 Welcome to the Authentication & Authorization Test Platform
                </h5>

                <div class="alert alert-info">
                    <h4 class="text-success">
                        🛡️ Admin Test Credentials
                    </h4>
                    <p><strong>Email:</strong> <code>Admin1@gmail.com</code></p>
                    <p><strong>Password:</strong> <code>Admin@123</code></p>
                </div>

             
                </div>
            </div>
        </div>
    </div>
</div>
